body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.container{

}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card {
	padding: 15px;
}
.team-logo {
	width: 35px;
}